#inventorycard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inventorycard{
    width: auto;
    color: #ffffff;
    background-color: #3B3B3B;
    border-radius: 8px;
    /* border-bottom: solid 2px  #FF7D34; */
    padding: 0.5rem;
    text-align: center;
    justify-content: space-around;
    margin-top: 2vh;
    text-transform: uppercase;
}