#sidebar{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}

.main-box{
    width: 100%;
    align-items: center;
}

#sidebar .main-container{
    display: flex;
    flex-direction: row;
}       

#sidebar div.sidebar{
    background: #313343;
    color: #FF7D34;
    /* padding: 10px; */
    height: 100vh;
}

#sidebar .user{
    padding: 2vh;
    display:flex;
    align-items: center;
    margin-left: 5px;

}

#sidebar .user-icon{
    background-color: aliceblue;
  border-radius: 50%; /* Use 50% to make it circular */
  height: 70px;
  width: 70px;
  padding: 5px;
  margin-right: 7px;
  overflow: hidden; /* Ensure the image doesn't overflow */
}

#usericon-sidebar{
    max-width: 100%;
    max-height: 100%;
}

#sidebar .user-name h3{
    font-weight: 90;
}

#sidebar .user-name h4{
    font-weight: 90;
    color: aliceblue;
}

#sidebar .menu{
    display: flex;
    color: #FF7D34;
    text-decoration: none;
    padding: 1.7vh;
    gap: 10px;
    padding-left: 4vh;
}

#sidebar .menu:hover{
    border-right: 4px solid #FF7D34;
    /* background-color: #ff7e344d; */
    color: #ffff;
    transition: 0.2sec;
}

#sidebar a.active{
    background-color: #FF7D34;
    color: #ffff;
    transition: 0.1sec;
}