.section-title{
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: white;
}

section {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
} 

.Lcard-text {
  text-transform: capitalize;
  font-size: 15px;
  text-align: left;
  width: auto;
}

.Lcard-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.Lcard-img figcaption {
  background-color: var(--ttcolor);
  color: var(--sdcolor);
  font-size: 0.85rem;
  padding: 0.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.Lcard-title {
  font-weight: 700;
  text-transform: capitalize;
  text-align: left;
  width: auto;
  font-size: 20px;
}

.Lcard-body {
  padding: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.grid-container a{
  color: #dee2e6;
  text-decoration: none;
}

