.Newpage{
    margin-top: 12px;
    display: flex;
    margin-left: 10px;
    border-bottom: 3px solid grey;
    padding-bottom: 16px;
}

.newtext{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 16px;
    p{
        font-weight: 700;
        font-size: 18px;
        color: grey;
    }
    h2{
        font-weight: 700;
        font-size: 24px;
    }
}


.Newpage-img img{
    width: 120px;
    height: 180px;
    border-radius: 12px;
}

#SearchResults button{
    margin-left: 0px;
}