.rb-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #A8A8A8;
  font-size:35px;
}
.Book1-img img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  
}

.Book1-img{
  display: flex;
  justify-content: center;
}

.Book1-title {
  font-weight: 700;
  text-transform: capitalize;
  margin: 12px 12px 12px 40px;
}

.Book1-bodytext{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 40px;

  p{
    font-size: 20px;
    font-weight: 600;
    color: #A8A8A8;
    margin-bottom: 0px;
    width: auto;
  }
}

button.reserve-button{
  border-radius: 5px;
  background-color: #1768E3;
  border: none;
  padding: 5px;
  width: 90px;
  font-weight: 600;
  margin-left: 115px;
}