/* Library.css */
.searchInput {
    width: 70%;
    box-sizing: border-box;
    border: 0px;
    border-radius: 50px;
    font-size: 18px;
    background-color: #353941;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 7px 20px 7px 42px;
    color: #84868B;
    font-weight: 700;
  }
  
  .searchContainer{
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      align-content: center;
  }
  
  .searchButton {
   
    display: flex;
    position: relative;
    left: 40px;
    border: 0px;
    cursor: pointer;
    background: none;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  
  
  .svg-inline--fa {
    display: var(--fa-display, inline-block);
    color: #84868B;
    height: 1.3em;
    overflow: visible;
    vertical-align: -0.125em;
  }
  
  
  /* Library.css */
  
  .container {
    margin-top: 20px;
  }
  
  .dropdown {
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  select {
    width: 200px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  option {
    font-size: 16px;
  }
  
  /* Optional: add hover effect to the dropdown */

  
  