#cart-bar{
    background-color: #FEB804;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    position: fixed;
    bottom: 10px;
    left:4%;
    right: 4%;
    width: 90%;
}

#cart-bar a{
    color: rgb(240, 240, 240);
    text-decoration: none;
}