#canteen-cart div {
	background-color: rgb(44, 44, 44);
	border-radius: 10px;
}
#canteen-cart button {
	width: 40%;
	border: none;
	height: 20px;
	color: white;
	background-color: #FEB804;
	border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
}

#canteen-cart img{
	width: 25px;
	height: 25px;
}
.price {
	font-size: 14px;
	color: rgb(148, 148, 148);
	font-weight: bold;
}
#canteen-cart .item-name{
	font-size: 15px;
	font-weight: bold;
}