#canteen-cart div div.py-2 {
	background-color: rgb(44, 44, 44);
	border-radius: 10px;
}
#canteen-cart button {
	width: 40%;
	border: none;
	color: white;
	background-color: #FEB804;
	border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
}
#canteen-cart button p{
 font-size: 14px;
}
#canteen-cart img{
	width: 50px;
	height: 50px;
}
.price {
	font-size: 14px;
	color: rgb(148, 148, 148);
	font-weight: bold;
}
#canteen-cart .item-name{
	font-size: 15px;
	font-weight: bold;
}
#canteen-cart .order-btn{
	position: sticky;
	bottom: 40px;
	align-self: center;
	width: 90%;
	font-size: 20px;
}