body {
    background-color: #1E1E1E;
}


#canteen img.product-image{
    height: 13vh;
}


.product-details {
    padding: 18px;
    color: #fffffff0;
}

.product-title {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

.product-price {
    margin: 0 0 16px;
    font-size: 13px;
    color: #ffffffd6;
}
.search-card{
    background-color: #5b5b5b;
    border-radius: 10px;
}

.add-to-cart-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #FEB804;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    margin-top: 10vw;
}

.add-to-cart-button:hover {
    background-color: #3e8e41;
}

@media (max-width: 600px) {
    .product-card {
        max-width: 100%;
    }

    .add-to-cart-button {
        margin-top: 13vh;
    }
}