.calendar-hero-font{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: black;
}

.announcement-font{
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    color: black;
}