/* Not sure what this css does (assuming it was for when the react app was first created)*/
.iconStyle {
    color: #8207b3e5;
}
  
.linkStyle {
    color: black;
    font-size: 14px;
}

.textStyle {
    font-size: 14px;
    font-weight: 500;
}

/* CSS for XConnect on the Navbar */
.navbar-xconnect {
    font-weight: 600;
    margin-left: 10px;
}

.hover-fix:hover {
    background-color: transparent;
    text-decoration: underline;
}
