#timetable {
    border-collapse: collapse;
    width: 100%;
}
#timetable th, td{
    /* border: 2px solid #212529; */
    background-color: #363636;
    padding: 5px;
    text-align: center;
    width: 20%;
}

table {
    border-radius: 100px;
}

.timetable-heading {
    background-color: #E34A64;
    border: 5px solid #E34A64;
    border-radius: 10px;
    font-weight: 600;
}

.tt-btn{
    background-color: #E34A64;
}