.bg-gradient-purple {
  background: linear-gradient(to right, #4f016d, #b9019a07);
}

body {
  margin: 0;
  padding: 0; 
  height: 100vh;
  background: linear-gradient(to right, #4f016d, #b901a648);
  font-family: Rosarivo;
}

h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: Palatino-sans-serif;
  font-size: 35px;
}

h2 {
  text-align: center;
  color: white;
  font-size: 15px;
}
