.bg-gradient-purple {
  background: linear-gradient(to right, #4f016d, #b9019a07);
}

body {
  margin: 0;
  padding: 0; 
  height: 100vh;
  background: linear-gradient(to right, #4f016d, #b901a648);
  font-family: Rosarivo;
}
