/* Dropdown.css */

#library-dropdown select {
  border: none;
  background-color: transparent !important;
  font-weight: 600;
  font-size: 20px;
  color: #A9A9A9;
  margin-left: 20px;
}

option {
  background-color: #3d3d3d;
  padding: 100px;
}
