/* For Mobile Phones */
.custom-container {
 color: #f8f9fd;
}

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: rgb(233, 233, 233);
}

.form-label{
  color: rgb(170, 170, 170);
}

#login form input{
  color: #f8f9fd;
  border-radius: 30px;
  border-color: #fb284b;
}

.form-control:focus {
  border-color: #e34a64;
  outline: 0;
  box-shadow: 0 0 20px 0.25rem rgba(199, 0, 70, 0.564);
}
  
.forgot-password a{
  text-decoration: none;
  color: #e34a64;
}
#login .login-button{
  color: #f8f9fd;
  border-radius: 20px;
  font-size: 20px;
  padding: 5px 30px;
  background-color: #e34a64;;
}
/* For Desktop */
@media only screen and (min-width: 768px) {
  .custom-container {
    max-width: 450px;
    background: #f8f9fd;
    background: linear-gradient(
      0deg,
      rgb(255, 255, 255) 0%,
      rgb(219, 235, 255) 100%
    );
    border-radius: 40px;
    padding: 35px;
    box-shadow: rgba(132, 0, 227, 0.878) 0px 30px 30px -20px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .heading {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: rgb(191, 49, 216);
  }

  .form {
    margin-top: 20px;
    width: 100%;
  }

  .form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px;
    border-radius: 20px;
    margin-top: 5px;
    box-shadow: #c399ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
    box-sizing: border-box; /* Include padding and border in the box model */
  }

  /* .form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form .input::placeholder {
  color: rgb(170, 170, 170);
} */

  /* .form .input:focus {
  outline: none;
  border-inline: 2px solid #12B1D1;
} */

  .form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }

  .form .forgot-password a {
    font-size: 12px;
    font-weight: 500;
    color: #0099ff;
    text-decoration: none;
  }

  .form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(
      45deg,
      rgb(71, 16, 211) 0%,
      rgb(187, 18, 209) 100%
    );
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(165, 118, 253, 0.878) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }

  .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(149, 133, 215, 0.878) 0px 23px 10px -20px;
  }

  .form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(149, 133, 215, 0.878) 0px 15px 10px -10px;
  }
}