/* For Mobile Phones */
.custom-container {
 color: #f8f9fd;
}

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: rgb(233, 233, 233);
}

.form-label{
  color: rgb(170, 170, 170);
}

#login form input{
  color: #f8f9fd;
  border-radius: 30px;
  border-color: #fb284b;
}

.form-control:focus {
  border-color: #e34a64;
  outline: 0;
  box-shadow: 0 0 20px 0.25rem rgba(199, 0, 70, 0.564);
}
  
.forgot-password a{
  text-decoration: none;
  color: #e34a64;
}
#login .login-button{
  color: #f8f9fd;
  border-radius: 20px;
  font-size: 20px;
  padding: 5px 30px;
  background-color: #e34a64;;
}

/* For Desktop */
@media only screen and (min-width: 768px) {
  .custom-container {
    max-width: 450px;
    background: #1a1a1a;
    border-radius: 40px;
    padding: 35px;
    margin: 30px auto;
  }

  .heading {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: rgb(255, 255, 255);
  }

  .form {
    margin-top: 20px;
    width: 100%;
  }

  #login form input{
    color: #f8f9fd;
    border-radius: 30px;
    border-color: #fb284b;
  }

  .forgot-password a{
    text-decoration: none;
    color: #e34a64;
  }

  #login .login-button{
    color: #f8f9fd;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 30px;
    background-color: #e34a64;;
  }
}