#sidebar {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#togle {
  position: fixed;
  left: 250px;
  z-index: 2;
  height: 40px;
  display: inline;
  transition: 0.5s;
  border: none;
  border-radius: 0 7px 7px 0;
}

#togle:hover {
  background-color: rgb(92, 92, 92);
}

.main-box {
  width: 100%;
  align-items: center;
}

#sidebar .main-container {
  display: flex;
  flex-direction: row;
}

#sidebar div.sidebar {
  background: #313343;
  height: 100vh;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 2;
  overflow: hidden;
}

#sidebar .user {
  padding: 2vh;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

#sidebar .user-icon {
  background-color: aliceblue;
  border-radius: 50%; /* Use 50% to make it circular */
  height: 70px;
  width: 70px;
  padding: 5px;
  margin-right: 7px;
  overflow: hidden; /* Ensure the image doesn't overflow */
}

#usericon-sidebar {
  max-width: 100%;
  max-height: 100%;
}

#sidebar .user-name h3 {
  font-weight: 90;
}

#sidebar .user-name h4 {
  font-weight: 90;
  color: aliceblue;
}

#sidebar .menu {
  display: flex;
  color: #ff7d34;
  text-decoration: none;
  padding: 1.7vh;
  gap: 10px;
}

#sidebar .menu:hover {
  border-right: 4px solid #ff7d34;
  color: #ffff;
  transition: 0.2sec;
}

/* #sidebar a.active {
  background-color: #ff7d34;
  color: #ffff;
  transition: 1s;
}  */
