#canteen img {
  height: 25vh;
  border-radius: 10px;
  object-fit: cover;
}

#canteen button {
  width: 60%;
  border: none;
  height: 25px;
  color: white;
  background-color: #FEB804;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

#canteen button:disabled{
  background-color: rgb(234, 220, 154);
}

#canteen .item {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

#canteen .price {
  font-size: 14px;
  color: rgb(148, 148, 148);
  font-weight: bold;
}