#canteen img {
  height: 25vh;
  border-radius: 10px;
}

#canteen button {
  width: 60%;
  border: none;
  height: 25px;
  color: white;
  background-color: rgb(220, 185, 8);
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

#canteen button:disabled{
  background-color: rgb(234, 220, 154);
}

#canteen .item {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

#canteen .price {
  font-size: 14px;
  color: rgb(148, 148, 148);
  font-weight: bold;
}
@media (max-width:900px) {
  #canteen-item  .item{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}







   /* NOT RESPONSIVE CSS PEOPLE */

/* .item{
    width: auto;
}

.item img{
    border: solid 2px #000000;
    border-radius: 0.5rem;
    box-shadow: 2px 3px #b0b0b063;
}

.item p{
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    gap: 20px;
}

.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 600;
    text-decoration: line-through;
}
.item:hover{
    transition: scale(1.05);
    transition: 0.6s;
}

.btn-add{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 21px;
    font-size: 14px;
    background: #ff0606;
    color: #ffff;
} */
