 #scroll-container-outer-insideadmin{
  display: flex;
  justify-content: space-around;
 }
 .scroll-container-insideadmin{
   /* overflow-y: scroll; */
   height: auto;
   margin-top: 2rem;
   max-height: 80vh;
 }
 
 .container-for-cards{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding: 2rem;
   flex-wrap: wrap;
   width: fit-content;
 }
 
 #sidebar.main-box{
   width: 100vw;
 }